<!DOCTYPE html>
<html>

<head>
  <title>GREMI</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="css/bootstrap-3.3.7/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">

  <script src="js/jquery-3.2.1/jquery-3.2.1.js"></script>
  <script src="js/bootstrap-3.3.7/bootstrap.min.js"></script>

  <script src="js/main/main.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-scroll" style="">
  <%- include partial/header.html %>

  <!-- /.intro section -->
  <section id="intro" >
    <div class="container">
      <div class="row">

        <!-- /.intro video -->
        
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 " style="padding-top:50px;">
            <form id="user_register_form" action="/user_register" method="post" accept-charset="UTF-8" role="form">
              <input class="btn btn-lg btn-primary btn-block" type="submit">Login</input>
            </form>
          </div>
        </div>

        <!-- /.intro join -->
        <div class="col-md-6">
          <div class="col-md-10 col-md-offset-1 " style="padding-top:50px;">
              <input class="btn btn-lg btn-primary btn-block" type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /.footer -->
  <%- include partial/footer.html %>
</body>

</html>