<!DOCTYPE html>
<html>
<head>
  <title>GREMI</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- css lib import -->
  <link href="/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">

  <!-- js lib import -->
  <script src="/js/lib/contract/bignumber.min.js"></script>
  <script src="/js/lib/contract/crypto-js.js"></script>
  <script src="/js/lib/contract/utf8.js"></script>
  <script src="/js/lib/contract/web3.js"></script>
  <script src="/js/lib/jquery-3.2.1/jquery-3.2.1.js"></script>
  <script src="/js/lib/bootstrap-3.3.7/bootstrap.min.js"></script>

  <!-- costom css import -->
  <link href="/css/main.css" rel="stylesheet" >

  <!-- costom js import -->
  <script src="/js/common.js"></script>
  <script src="/js/main.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-scroll">
  <!-- /.intro section -->
  <section id="intro" >
    <div class="container">
      <div class="row main-menu">
        <div class="col-md-2 col-md-offset-2">
          <a href="#" data-toggle="modal" data-target="#sign_up_modal"> 
            <img src="/images/signIn.png" 
            onmouseover = "this.src='/images/signIn_hover.png'"
            onmouseout = "this.src='/images/signIn.png'" width="165px" height="85px">
          </a>
        </div>

        <div class="col-md-2 col-md-offset-3">
          <a href="#" data-toggle="modal" data-target="#sign_in_modal"> 
            <img src="/images/signUp.png" 
            onmouseover = "this.src='/images/signUp_hover.png'"
            onmouseout = "this.src='/images/signUp.png'" width="165px" height="85px">
          </a>
        </div>
      </div>
    </div>
  </section>

  <%- include partial/sign_up_modal.html %>
  <%- include partial/sign_in_modal.html %>
  
</body>
</html>