<!DOCTYPE html>
<html>

<head>
    <title>SALUX CORP</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css lib import -->
    <link href="/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">

    <!-- js lib import -->
    <script src="/js/lib/contract/bignumber.min.js"></script>
    <script src="/js/lib/contract/crypto-js.js"></script>
    <script src="/js/lib/contract/utf8.js"></script>
    <script src="/js/lib/contract/web3.js"></script>
    <script src="/js/lib/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src="/js/lib/bootstrap-3.3.7/bootstrap.min.js"></script>

    <!-- costom css import -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">

    <!-- costom js import -->
    <script src="/js/common.js"></script>
    <script src="/js/main.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-scroll">
    <%- include partial/header.html %>

        <!-- /.intro section -->

        <div class="container-fulid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>

        <%- include partial/signUpModal.html %>
            <%- include partial/signInModal.html %>
</body>

</html>