<!DOCTYPE html>
<html>

<head>
    <title>SALUX CORP</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css lib import -->
    <link href="/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">

    <!-- js lib import -->
    <script src="/js/lib/contract/bignumber.min.js"></script>
    <script src="/js/lib/contract/crypto-js.js"></script>
    <script src="/js/lib/contract/utf8.js"></script>
    <script src="/js/lib/contract/web3.js"></script>
    <script src="/js/lib/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src="/js/lib/bootstrap-3.3.7/bootstrap.min.js"></script>

    <!-- costom css import -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- costom js import -->
    <script src="/js/common.js"></script>
    <script src="/js/main.js"></script>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/countdown.js"></script>
    <script>
        $(document).ready(function() {
            $("#countdown").countdown({
                    date: "31 december 2017 23:59:59",
                    format: "on"
                },

                function() {
                    // callback function
                });
        });
    </script>
</head>

<body data-spy="scroll" data-target="#navbar-scroll" onLoad="startclock()">

    <!-- /.intro section -->

    <div class="container-fulid">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
    </div>

    <%- include partial/signUpModal.html %>
        <%- include partial/signInModal.html %>


            <div class="timer-area">
                <ul id="countdown">
                    <li> <span class="days">00</span>
                        <p class="timeRefDays">days</p>
                    </li>
                    <li> <span class="hours">00</span>
                        <p class="timeRefHours">hours</p>
                    </li>
                    <li></li>
                    <li> <span class="minutes">00</span>
                        <p class="timeRefMinutes">minutes</p>
                    </li>
                    <li> <span class="seconds">00</span>
                        <p class="timeRefSeconds">seconds</p>
                    </li>
                </ul>
            </div>



</body>

</html>