<!DOCTYPE html>
<html>
<head>
  <title>GREMI</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- css lib import -->
  <link href="/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">

  <!-- js lib import -->
  <script src="/js/lib/contract/bignumber.min.js"></script>
  <script src="/js/lib/contract/crypto-js.js"></script>
  <script src="/js/lib/contract/utf8.js"></script>
  <script src="/js/lib/contract/web3.js"></script>
  <script src="/js/lib/jquery-3.2.1/jquery-3.2.1.js"></script>
  <script src="/js/lib/bootstrap-3.3.7/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.tmpl/jquery.tmpl.js"></script>
  <script src="/js/lib/jquery.form/jquery.form.min.js"></script>

  <!-- costom css import -->
  <link href="/css/common.css" rel="stylesheet">

  <!-- costom js import -->
  <script src="/js/common.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/building.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwU-cbgXFnLRSM-Qh5rjAnsXu0SjGBQac&callback=map.initMap"></script>

</head>

<body data-spy="scroll" data-target="#navbar-scroll" style="">
  <%- include partial/loginedHeader.html %>

  <div id="content" class="container">
    <h1 style="margin-left:1%; color:white;">G-coin</h1>
    <div class="row">
      <div class="col-md-5 map">
        <%- include partial/map.html %>
      </div>

      <div class="col-md-7">
        <div class="frame">
          <ul id="building_menu" class="nav nav-tabs" >
            <li class="active">
              <a href="#">집 구매하기</a>
            </li>
            <li>
              <a href="#">지분 구매하기</a>
            </li>
          </ul>

          <div>
            <%- include partial/building/buy.html %>
            <%- include partial/building/sell.html %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>