<!DOCTYPE html>
<html>

<head>

    <title>GREMI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css lib import -->
    <link href="/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">
    <link href='/css/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
    <link href='/css/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' />

    <!-- js lib import -->
    <script src="/js/lib/contract/bignumber.min.js"></script>
    <script src="/js/lib/contract/crypto-js.js"></script>
    <script src="/js/lib/contract/utf8.js"></script>
    <script src="/js/lib/contract/web3.js"></script>
    <script src="/js/lib/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src="/js/lib/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src='/js/lib/moment/moment.js'></script>
    <script src='/js/lib/fullcalendar/fullcalendar.min.js'></script>

    <!-- costom css import -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">

    <!-- costom js import -->
    <script src="/js/profile.js" "> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwU-cbgXFnLRSM-Qh5rjAnsXu0SjGBQac&callback=map.initMap "></script>

<!-- <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css ">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js "></script> -->

</head>

<body data-spy="scroll " data-target="#navbar-scroll " style="background-image: url( '/images/main2.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center center; ">

<%- include partial/loginedHeader.html %>

<div class="container " style="background: rgba(255,255,255,0.68); ">
  <div class="row ">
    <div class="col-md-12 " style="margin-top: 10px; position: relative; ">

      <div id="investment_menu " class="nav nav-tabs product_menu " style="float: left; ">
        <div>
          <img src="http://file2.instiz.net/data/file2/2016/01/05/8/1/6/816140efeb4b5edb67df6532837ad1e1.jpg " width="75 " height="100 " style="background: white; padding: 3px; ">
          <span style="font-size: 20px; color: white; font-weight: bold; ">한종빈</span>
        </div>
      </div>

      <ul id="investment_menu " class="nav nav-tabs navbar-right product_menu " style="position: absolute; bottom: 0; right: 0; padding-right: 30px; ">
        <li class="active ">
          <a href="#calendar ">Wallet</a>
        </li>
        <li>
          <a href="#calendar ">Asset</a>
        </li>
        <li>
          <a href="#calendar ">Calendar</a>
        </li>
        <li>
          <a href="#calendar ">Contract</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="row ">
    <div class="col-md-12 " >
      <div style="height: 100px; background: rgba(255,255,255,0.68); ">
        <div style="float: left; ">
          <img src="/images/main2 " width="75 " height="100 " style="background: white; padding: 3px; ">

          <span style="display: inline-block ">한종빈</span>
          <span style="display: inline-block ">한종빈</span>
        </div>
        <div style="float: right; ">
          <span>3123123,123,123</span>
          <span><img src="/images/main2 " width="75 " height="100 " style="background: white; padding: 3px; "></span>
        </div>
      </div>
    </div>

  </div>
  <div class="row ">
    <div class="profile_contents col-md-12 ">
      <div class="profile_item container-fluid " id="wallet ">
        <div class="row ">
          <div class="col-md-5 ">
            <input type="password " class="form-control " name="password " placeholder="password "> 코인
            <input type="password " class="form-control " name="password " placeholder="password "> 코인
            <input type="password " class="form-control " name="password " placeholder="password "> 코인 
          </div>
          <div class="col-md-5 ">
            Wire Transfer <input type="password " class="form-control " name="password " placeholder="password "> 
            Amount <input type="password " class="form-control " name="password " placeholder="password "> 
          </div>
        </div>

        <div class="row ">
          <div class="col-md-5 ">
            <input type="password " class="form-control " name="password " placeholder="password "> 
          </div>
          <div class="col-md-5 ">

          </div>
        </div>

        <div class="row ">
          <div class="col-md-5 ">
            <div class="input-group "> 
              <input class="form-control " aria-label="Text input with dropdown button "> 
              <div class="input-group-btn "> 
                <button type="button " class="btn btn-default dropdown-toggle select-money " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">Action 
                  <span class="caret "></span>
                </button> 
                <ul class="dropdown-menu dropdown-menu-right "> 
                  <li>
                    <a href="# ">Action</a>
                  </li> 
                  <li>
                    <a href="# ">Another action</a>
                  </li> 
                  <li>
                    <a href="# ">Something else here</a>
                  </li> 
                  <li role="separator " class="divider "></li> 
                  <li>
                    <a href="# ">Separated link</a>
                  </li> 
                </ul> 
              </div> 
            </div>

            <div style="display: inline-block; ">
             <input type="button " class="btn btn-lg " value="EXCHANGE ">
           </div>
         </div>
         <div class="col-md-5 ">
          <input type="button " class="btn btn-lg " value="SEND ">
        </div>
      </div>

    </div>
    <div class="profile_item " id="robo_adviser " style="display: none; ">
      <table class="table table-bordered ">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="profile_item " id="smart_contract " style="display: none; ">
      스마트 컨트렉트 
    </div>
  </div>
</div>
</div>

</body>
</html>