<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

  <title>GREMI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="css/bootstrap-3.3.7/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">

  <script src="js/jquery-3.2.1/jquery-3.2.1.js"></script>
  <script src="js/bootstrap-3.3.7/bootstrap.min.js"></script>
  <script src="js/sell/sell.js""> </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwU-cbgXFnLRSM-Qh5rjAnsXu0SjGBQac&callback=initMap">
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

  <link href='css/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
  <link href='css/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' />

  <script src='js/moment/moment.js'></script>
  <script src='js/fullcalendar/fullcalendar.min.js'></script>

</head>

<body data-spy="scroll" data-target="#navbar-scroll" style="">
  <%- include partial/logined_header.html %>

  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center" style="height: 300px; border: 1px solid; padding: 10px;">
        <div>
          <img src="http://file2.instiz.net/data/file2/2016/01/05/8/1/6/816140efeb4b5edb67df6532837ad1e1.jpg" width="200" height="200" class="img-circle">
        </div>
        <div>
          <span>한종빈</span>
        </div>
      </div>

      <div class="col-md-9" style="height: 300px;">
        <div id="map" style="width:100%; height: 100%"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="margin-top: 10px; border: 1px solid;">
        <div>
          <ul id="investment_menu" class="nav nav-tabs product_menu" style="margin-bottom: 10px;">
            <li class="active">
              <a href="#calendar">달력</a>
            </li>
            <li>
              <a href="#robo_adviser">Robo Adviser</a>
            </li>
            <li>
              <a href="#smart_contract">Smart Contract</a>
            </li>
          </ul>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="profile_contents col-md-12">
              <div class="profile_item" id="calendar"></div>
              <div class="profile_item" id="robo_adviser" style="display: none;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>john@example.com</td>
                    </tr>
                    <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>july@example.com</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="profile_item" id="smart_contract" style="display: none;">
                스마트 컨트렉트 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</body>
</html>