<!DOCTYPE html>
<html>
<head>
  <title>GREMI</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- css lib import -->
  <link href="/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">
  <link href='/css/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
  <link href='/css/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

  <!-- js lib import -->
  <script src="/js/lib/contract/bignumber.min.js"></script>
  <script src="/js/lib/contract/crypto-js.js"></script>
  <script src="/js/lib/contract/utf8.js"></script>
  <script src="/js/lib/contract/web3.js"></script>
  <script src="/js/lib/jquery-3.2.1/jquery-3.2.1.js"></script>
  <script src="/js/lib/bootstrap-3.3.7/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.tmpl/jquery.tmpl.js"></script>
  <script src='/js/lib/moment/moment.js'></script>
  <script src='/js/lib/fullcalendar/fullcalendar.min.js'></script>

  <!-- costom css import -->
  <link href="/css/common.css" rel="stylesheet">
  <link href="/css/profile.css" rel="stylesheet">

  <!-- costom js import -->
  <script src="/js/profile.js" "> </script>

</head>

<body data-spy="scroll " data-target="#navbar-scroll">
  <%- include partial/loginedHeader.html %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1" style="padding-top: 160px;
      padding-left: 64px;">
      <%- include partial/profile/sideMenu.html %>
    </div>

    <div class="col-md-11" style="height: 300px; padding-top: 82px; padding-bottom: 20px;">
      <div class="profile-contents" id="profile_content">
        <%- include partial/profile/profile.html %>
      </div>

      <div class="profile-contents hidden" id="wallet_content">
        <%- include partial/profile/wallet.html %>
      </div>

      <div class="profile-contents hidden" id="callandar_content">
        <%- include partial/profile/calandar.html %>
      </div>
      <div class="profile-contents hidden" id="asset_content">
        <%- include partial/profile/asset.html %>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>