<div class="profile_item container-fluid " id="wallet ">
  <div class="row ">

    <!-- 돈 충전 -->
    <form action="/expectCoin" method="get">
      <input type="number" class="form-control " name="krw" placeholder="KRW"> KRW
      <br>
      <input type="number" class="form-control " name="usd" placeholder="USD"> USD
      <br>
      <input type="number" class="form-control " name="eur" placeholder="EUR"> EUR
      <br>
      <input type="submit" value="CHARGE">
    </form>

    <!-- 돈 환전 g_coin으로 -->
    <form action="/exchangeCoinToMoney" method="post">
      <input type="number" class="form-control " name="krw" placeholder="KRW"> KRW
      <br>
      <input type="number" class="form-control " name="usd" placeholder="USD"> USD
      <br>
      <input type="number" class="form-control " name="eur" placeholder="EUR"> EUR
      <br>
      <input type="submit" value="EXCHANGE">
    </form>
  </div>
</div>