<div class="profile_item container-fluid " id="wallet ">
  <div class="row ">

    <h1>krw usd eur</h1>
    <!-- 코인 넣기 -->
    <form action="/buyCoin" method="post">
      <input type="text" class="form-control " name="type" placeholder="type"> type
      <br>
      <input type="number" class="form-control " name="money" placeholder="money"> money
      <br>
      <input type="submit" value="buyCoin!!">
    </form>

    <!-- 코인 빼기 -->
    <form action="/sellCoin" method="post">
      <input type="text" class="form-control " name="type" placeholder="type"> type
      <br>
      <input type="number" class="form-control " name="money" placeholder="money"> money
      <br>
      <input type="submit" value="sellCoin!!">
    </form>

  </div>
</div>