.table-bordered,
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  /*border: 2px solid raba(255, 255, 255, 1);*/
  border: 2px solid;
  border-color:rgb(0,0,0);
  border-color:rgba(0,0,0, 0.7);
}

th {
  text-align: center;
}

td {
  margin: 3px;
}

.profile-menu a {
  color: white; 
  font-size: 13.333px;
}

.profile-menu li {
  margin-bottom: 7px;
}


.btn-default,
.btn-default:active,
.btn-default:focus {
  color: white;
  background-color: rgb(30,30,30);
  border-color: #ccc;
  outline:0;
}

.resell-btn,
.resell-btn:active,
.resell-btn:focus {
  padding: 0px 7px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  color: white;
  background-color: rgb(30,30,30);
  outline:0;
}

.resell-btn:hover {
  color: black;
  background-color: white;
}

table {
  width: 100%;
}
td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}