<div class="modal fade" id="memory_posting_modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="/images/x.png" width="30px" >
        </button>
      </div>
      <form id="login_form" action="/login" method="post" role="form">
        <div class="modal-body">
          <div class="form-group">
            <label for="title" class="sr-only hidden-xs">title</label>
            <input type="text" class="form-control" name="title" placeholder="title">
          </div>

          <div class="form-group">
            <label for="property" class="sr-only hidden-xs">property</label>
            <input type="text" class="form-control" name="title" placeholder="property">
          </div>

          <div class="form-group">
            <label for="statd_date" class="sr-only hidden-xs">startdate</label>
            <input type="text" class="form-control" name="statd_date" placeholder="Start Date: yyyy.mm.dd ex) 2017.08.08">
          </div>

          <div class="form-group">
            <label for="end_date" class="sr-only hidden-xs">enddate</label>
            <input type="text" class="form-control" name="end_date" placeholder="Start Date: yyyy.mm.dd ex) 2019.08.08">
          </div>

          <div class="form-group">
            <label for="memo" class="sr-only hidden-xs">memo</label>
            <input type="text" class="form-control" name="memo" placeholder="memo">
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="submit" tabindex="1" style="border: 0; padding: 0">
              <img id="signup" src="/images/ok.png" 
              onmouseover = "this.src='/images/ok_hover.png'"
              onmouseout = "this.src='/images/ok.png'" height="60px;">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>