<div class="row">
<div class="col-md-3" style="height: 100%;padding-top: 107px;color: white;font-weight: bold; padding-right: 17px; text-align: right;">

    <div style="margin-bottom: 13px;font-size: 38px;">PROFILE</div>

    <div id="asset_detail_menu">
      <div style="font-size: 15px;margin-bottom: 10px;">
        <span style="font-size: 25px;width: 100%;">JONGBEEN HAN</span>
      </div>

      <div style="font-size: 15px; margin-top: 35px; height: 185px;padding-left: 100px;">


        <img src="<%= profile.profile_image %>" width="100%" height="100%">
        <form id="profile_image_form">
          <input type="file" name="profile_image">
          <button type="submit">사진업로드</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-9" style="height: 100%;  color: white; font-weight: bold;">
    <div style="padding-left: 36px; padding-right: 56px;">
      <div class="row" style="padding-left: 16px; background: rgb(30,30,30); height: 465px;">
        <div class="col-md-4" style="width: 25%;">
          <div style="font-size: 36px;padding-top: 25px;width: 100px;line-height: 47px;">
            YOUR TITLE HERE
          </div>
          <div style="font-size: 16px;margin-;margin-top: 55px;">
            <div>
              PRPPERTY
            </div>
            <div style="margin-top: 22px;">BOUGHT</div>
            <div>
              2017.08.08
            </div>
            <div>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ~
            </div>
            <div>
              2019.08.08
            </div>
            <div style="margin-top: 22px;">
              <div>
                MEMO
              </div>
              <div>
                으아아아아아아이ㅓㅁ니ㅏ러 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8" style="width: 75%;padding-left: 20px;padding-right: 35px;padding-top: 27px;">
          <div style="height: 308px;">
            <img src="https://goo.gl/S3Gmaq" width="100%" height="100%">
          </div>
          <div style="text-align: right; margin-top: 45px;">
            <button style="background: #333; border: 0;padding: 4px 9px;"><</button>
            <button style="background: #333; border: 0;padding: 4px 9px;">></button>
          </div>

          <div style="text-align: right; margin-top: 15px;">
            <button data-toggle="modal" data-target="#image_posting_modal" style="background: #333; border: 0; padding: 5px 17px; border-radius: 5px;">upload</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div style="text-align: right; margin-top: 20px; padding-right: 55px;">
        <button style="background: #333; border: 0;padding: 4px 9px;"><</button>
        <button style="background: #333; border: 0;padding: 4px 9px;">></button>
        <button data-toggle="modal" data-target="#memory_posting_modal" style="background: #333; border: 0; padding: 5px 17px; border-radius: 5px;">new memory</button>
      </div>
    </div>
  </div>
</div>

<%- include imagePosting.html %>
<%- include memoryPosting.html %>