<div class="row">
  <div class="col-md-3" style="height: 100%;padding-top: 107px;color: white;font-weight: bold; text-align: right;" >
    <div style="margin-bottom: 13px;font-size: 38px;">WALLET</div>
  </div>

  <div class="col-md-9" style="height: 100%;  color: white; font-weight: bold;">
    <div style="padding-left: 36px; padding-right: 56px;">
      <div style="padding-left: 16px; background: rgb(30,30,30); height: 465px;">
        <div class="row">
          <span style="float: left;">
            ADDRESS: 0xjdkjksjdfkjsdkfjksldflsdjflsdf
          </span>
          <span style="float: right;">
            3,333,333
          </span>
        </div>
        <div class="row">
          <div class="currency-form col-md-6">
            <div class="input-group"> 
              <input class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Expacted Money"> 
              <div class="input-group-btn"> 
                <button type="button" class="currency-info btn btn-default">G-coin</button> 
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <span class="caret"></span> 
                  <span class="sr-only">Toggle Dropdown</span> 
                </button> 
                <ul class="currency-type dropdown-menu dropdown-menu-right"> 
                  <li>
                    <a href="#" data-currency-type="G-coin">
                      <img src="/images/g-coin.png" width="40px" height="40px">
                      G-coin
                    </a>
                  </li> 
                  <li>
                    <a href="#" data-currency-type="DALLAR">
                      <img src="/images/us.png" width="40px" height="40px">
                      DALLAR
                    </a>
                  </li> 
                  <li>
                    <a href="#" data-currency-type="WON">
                      <img src="/images/won.png" width="40px" height="40px">
                      WON
                    </a>
                  </li>
                  <li>
                    <a href="#" data-currency-type="EURO">
                      <img src="/images/euro.png" width="40px" height="40px">
                      EURO
                    </a>
                  </li> 
                </ul>
              </div> 
            </div>
          </div>

          <div class="currency-form col-md-6">
            <div class="input-group"> 
              <input class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Expacted Money" disabled=""> 
              <div class="input-group-btn"> 
                <button type="button" class="currency-info btn btn-default">G-coin</button> 
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <span class="caret"></span> 
                  <span class="sr-only">Toggle Dropdown</span> 
                </button> 
                <ul class="currency-type dropdown-menu dropdown-menu-right"> 
                  <li>
                    <a href="#" data-currency-type="G-coin">
                      <img src="/images/g-coin.png" width="40px" height="40px">
                      G-coin
                    </a>
                  </li> 
                  <li>
                    <a href="#" data-currency-type="DALLAR">
                      <img src="/images/us.png" width="40px" height="40px">
                      DALLAR
                    </a>
                  </li> 
                  <li>
                    <a href="#" data-currency-type="WON">
                      <img src="/images/won.png" width="40px" height="40px">
                      WON
                    </a>
                  </li>
                  <li>
                    <a href="#" data-currency-type="EURO">
                      <img src="/images/euro.png" width="40px" height="40px">
                      EURO
                    </a>
                  </li> 
                </ul>
              </div> 
            </div>
          </div>
        </div>

        <div style="text-align: center; margin-top: 10px;">
          <button type="button" class="btn btn-default btn-lg">EXCHANGE</button>
        </div>
      </div>
    </div>
  </div>
</div>