<header class="navbar navbar-inverse" id="top" style="border-radius: 0px; height: 57px; margin-bottom: 0px; padding: 0 10px;">

  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </button>
      <a href="/building" class="navbar-brand"><img src="/images/logo.png" style="height: 30px"></a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/building">G-coin</a></li>
        <li><a href="/travel">TRAVEL</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </nav>
  </div>
</header>