<header class="navbar navbar-inverse" id="top" style="border-radius: 0px; margin-bottom: 20px;">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </button>

      <a href="./" class="navbar-brand">GREMI</a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">프로필</a></li>
        <li><a href="/investment">투자하기</a></li>
        <li><a href="/building_register">매물올리기</a></li>
        <li><a href="/">뉴스피드</a></li>
        <li><a href="/">로그아웃</a></li>
      </ul>
    </nav>
  </div>
</header>